/* NAVBAR LINK */
.navbar-nav .nav-item .nav-link:hover {
    color: #FF9933;
}

/* CSS FOR GRID 8 OUT OF 12 */
.paddingTB60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.bgcolor-skyblue {
    background: #eaf0f9;
}

/* ABOUT US PAGE BANNER IMAGE */
.image-aboutus-banner {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../img/ABOUT US.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 110px;
    padding-bottom: 110px;
}

.lg-text {
    font-size: 52px;
    font-weight: 600;
    text-transform: none;
    color: #fff;
}

.image-aboutus-para {
    color: #fff;
}

/* padding-margin */
.paddingTB60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* FOOTER */
footer {
    background: rgb(36, 35, 35);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}

footer input {
    border: none !important;
}

footer input::placeholder {
    color: white !important;
}

footer .input-group .input-group-text {
    background-color: #5cb85c;
    border: none;
}

footer .column a {
    color: #5cb85c;
    text-decoration: none;
}

footer .column a+a {
    padding: 0 0.5em;
}