body {
    padding-top: 56px;
}

/* Nvabar link Hover */
.navbar-nav .nav-item .nav-link:hover {
    color: #FF9933;
}

.badge-circle {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    line-height: 2.5rem;
    padding: 0
}

.text-white {
    color: #fff !important;
}


.background--white,
.bg-white {
    background-color: #fff !important
}

.background--secondary,
.bg-secondary {
    background-color: #939eb8 !important
}

.background--tertiary,
.bg-tertiary {
    background-color: #9779e3 !important
}

.background--danger,
.bg-danger {
    background-color: #f53d55 !important
}

.background--success,
.bg-success {
    background-color: #66df7c !important
}

.background--warning,
.bg-warning {
    background-color: #f6c460 !important
}

.background--warning2,
.bg-warning2 {
    background-color: #f89c59 !important
}

.background--info,
.bg-info {
    background-color: #52bbd3 !important
}

.background--light,
.bg-light {
    background-color: #f6f8fb !important
}

a {
    text-decoration: none !important;
}

/* Scroll To Top Button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

#myBtn:hover {
    background-color: #FF9933;
}

/* Scroll To Top Button END*/