body {
    margin-top: 70px;
    background: whitesmoke;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #FF9933;
}

.xyz {
    background-size: auto;
    text-align: center;
    padding-top: 100px;
}

.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}

.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}

/* Newsletter */
.newsletter {
    padding: 40px 0;
    background: #f2f2f2;
}

.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.newsletter .content h4 {
    color: #5cb85c;
    margin-bottom: 40px;
}

.newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius: 0;
}

.newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #5cb85c;
}

.newsletter .content .btn {
    min-height: 50px;
    border-radius: 0;
    background: #5cb85c;
    color: #fff;
    font-weight: 600;
}

.card {
    color: black;
    background-color: whitesmoke;

}

.card-title {
    font-size: 16px;
}

.job_title {
    height: 36px;
    border-radius: 5px;
    text-align: center;
    color: white;

}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}